


@model StudentListModel
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Students</h1>
<hr />

@if (Model.Students.Count() > 0)
{

    <table class="table table-bordered">
        <thead>
            <tr>
                <td style="width:30px;">Student Id</td>
                <td style="width:100px;">First Name</td>
                <td style="width:100px;">LastName</td>
                <td style="width:12px;">BirthDate</td>
                <td style="width:150px;"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>@item.StudentId</td>
                     <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.BirthDate</td>
                    <td>
                        <a class="btn btn-primary btn-sm mr-2" href="/admin/students/@item.StudentId">Edit</a>
                         <form action="/admin/delete" method="post" style="display:inline;">
                            <input type="hidden" name="StudentId" value="@item.StudentId" />
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            }

        </tbody>

    </table>
}
else
{
    <div class="alert alert-warning">
        <h4>No products</h4>
    </div>
}


